.jumbotron{
	background-color: lightslategrey;
	color: white;
	margin-top: 20px;
}

footer{
	padding:  10px 10px 10px;
	background-color: #e0ffff;		;
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-info{
	background-color: seashell;
	color: midnightblue;
	width: 100%;
	border-radius: 0px;
}

.card-hospitales{
	flex: 1 150px; 
	margin-top: 10px;
}

.card-ayuda{
	flex: 1 150px;
	padding-top:  50px;
	padding-bottom: 30px;
}


.jumbo-pp{
	margin-top: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #BAD4DC;
	color: black;
}